body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin:center;
    margin-left: 35%;
    margin-right: 35%;
}
h2 {
    color: #333;
    text-align: center;
    margin-top: 5%;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

#text {
    color: #333;
    text-align: center;
}

 #redirect {
    color: green;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid green;
    border-radius: 8px;
    background-color: #e6ffe6;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
}

#countdown {
    font-weight: bold;
    color: darkgreen;
    font-size: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid red;
    border-radius: 4px; 
    background-color: #ffe6e6;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
}

#loggedIn {
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

#LoggedOut {
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    margin-left: 41%;
    margin-right: 30%;
}